In [0]:
# IMPORT GENERIC PACKAGES
import numpy as np # numerical calc package
import pandas as pd # holds data
import matplotlib.pyplot as plt # plotting library
import seaborn as sns # pretty plotting

sns.set(rc={'figure.figsize':(20,10)})

from sklearn.model_selection import train_test_split # split dataset
from sklearn.linear_model import LinearRegression
from sklearn.metrics import confusion_matrix
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression # linear regression package
from sklearn.model_selection import train_test_split # split dataset
from sklearn.metrics import mean_squared_error as mse # Measurement metric
from math import sqrt
import xgboost as xgb

In [0]:
import pandas_profiling as pp

In [0]:
data = pd.read_csv('nyc-rolling-sales.csv')

In [68]:
data.describe()

         Unnamed: 0       BOROUGH  ...    YEAR BUILT  TAX CLASS AT TIME OF SALE
count  84548.000000  84548.000000  ...  84548.000000               84548.000000
mean   10344.359878      2.998758  ...   1789.322976                   1.657485
std     7151.779436      1.289790  ...    537.344993                   0.819341
min        4.000000      1.000000  ...      0.000000                   1.000000
25%     4231.000000      2.000000  ...   1920.000000                   1.000000
50%     8942.000000      3.000000  ...   1940.000000                   2.000000
75%    15987.250000      4.000000  ...   1965.000000                   2.000000
max    26739.000000      5.000000  ...   2017.000000                   4.000000

[8 rows x 10 columns]

In [69]:
report=pp.ProfileReport(data)

/usr/local/lib/python3.6/dist-packages/pandas_profiling/describe.py:392: FutureWarning: The join_axes-keyword is deprecated. Use .reindex or .reindex_like on the result to achieve the same functionality.
  variable_stats = pd.concat(ldesc, join_axes=pd.Index([names]), axis=1)

In [0]:
data['SALE PRICE']=pd.to_numeric(data['SALE PRICE'],errors='coerce')
data['LAND SQUARE FEET']=pd.to_numeric(data['LAND SQUARE FEET'],errors='coerce')
data['GROSS SQUARE FEET']=pd.to_numeric(data['GROSS SQUARE FEET'],errors='coerce')

In [71]:
data.dtypes

Unnamed: 0                          int64
BOROUGH                             int64
NEIGHBORHOOD                       object
BUILDING CLASS CATEGORY            object
TAX CLASS AT PRESENT               object
BLOCK                               int64
LOT                                 int64
EASE-MENT                          object
BUILDING CLASS AT PRESENT          object
ADDRESS                            object
APARTMENT NUMBER                   object
ZIP CODE                            int64
RESIDENTIAL UNITS                   int64
COMMERCIAL UNITS                    int64
TOTAL UNITS                         int64
LAND SQUARE FEET                  float64
GROSS SQUARE FEET                 float64
YEAR BUILT                          int64
TAX CLASS AT TIME OF SALE           int64
BUILDING CLASS AT TIME OF SALE     object
SALE PRICE                        float64
SALE DATE                          object
dtype: object

In [72]:
#Summation of Nan/null/- values 
#isna convert data into boolean value (0,1) if null 1, else 0
data['SALE PRICE'].isna().sum()
data.head()

   Unnamed: 0  BOROUGH  ... SALE PRICE            SALE DATE
0           4        1  ...  6625000.0  2017-07-19 00:00:00
1           5        1  ...        NaN  2016-12-14 00:00:00
2           6        1  ...        NaN  2016-12-09 00:00:00
3           7        1  ...  3936272.0  2016-09-23 00:00:00
4           8        1  ...  8000000.0  2016-11-17 00:00:00

[5 rows x 22 columns]

In [73]:
data['SALE PRICE'].fillna(0)

0         6625000.0
1               0.0
2               0.0
3         3936272.0
4         8000000.0
            ...
84543      450000.0
84544      550000.0
84545      460000.0
84546    11693337.0
84547       69300.0
Name: SALE PRICE, Length: 84548, dtype: float64

In [74]:
data['SALE PRICE'].dtypes

dtype('float64')

In [75]:
newdata=data[data['SALE PRICE']>10000]
newdata=newdata[data['GROSS SQUARE FEET']>0]
newdata=newdata[data['LAND SQUARE FEET']>0]
newdata=newdata[data['YEAR BUILT']>=1900]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.

In [76]:
newdata.describe()

         Unnamed: 0       BOROUGH  ...  TAX CLASS AT TIME OF SALE    SALE PRICE
count  27244.000000  27244.000000  ...               27244.000000  2.724400e+04
mean   10330.241741      3.562693  ...                   1.238548  1.698911e+06
std     7725.034575      1.016653  ...                   0.701561  1.762534e+07
min        4.000000      1.000000  ...                   1.000000  1.000100e+04
25%     3724.000000      3.000000  ...                   1.000000  4.350000e+05
50%     7482.500000      4.000000  ...                   1.000000  6.280000e+05
75%    16962.000000      4.000000  ...                   1.000000  9.500000e+05
max    26702.000000      5.000000  ...                   4.000000  2.210000e+09

[8 rows x 13 columns]

In [77]:
newdata['GROSS SQUARE FEET'].head()

0     6440.0
3     6794.0
4     4615.0
6     4226.0
9    18523.0
Name: GROSS SQUARE FEET, dtype: float64

In [78]:
sns.distplot(newdata['SALE PRICE'])

/usr/local/lib/python3.6/dist-packages/seaborn/distributions.py:340: UserWarning: Attempting to set identical bottom == top == 0 results in singular transformations; automatically expanding.
  ax.set_ylim(0, auto=None)

In [79]:
report=pp.ProfileReport(newdata)

/usr/local/lib/python3.6/dist-packages/pandas_profiling/describe.py:392: FutureWarning: The join_axes-keyword is deprecated. Use .reindex or .reindex_like on the result to achieve the same functionality.
  variable_stats = pd.concat(ldesc, join_axes=pd.Index([names]), axis=1)

In [0]:
report.to_file('data_assessment2.html')

In [81]:
newdata['SALE PRICE'].astype(int)
newdata['LAND SQUARE FEET'].astype(int)
newdata['GROSS SQUARE FEET'].astype(int)

0         6440
3         6794
4         4615
6         4226
9        18523
         ...
84543     2575
84544     2377
84545     1496
84546    64117
84547     2400
Name: GROSS SQUARE FEET, Length: 27244, dtype: int64

In [82]:
newdata.dtypes

Unnamed: 0                          int64
BOROUGH                             int64
NEIGHBORHOOD                       object
BUILDING CLASS CATEGORY            object
TAX CLASS AT PRESENT               object
BLOCK                               int64
LOT                                 int64
EASE-MENT                          object
BUILDING CLASS AT PRESENT          object
ADDRESS                            object
APARTMENT NUMBER                   object
ZIP CODE                            int64
RESIDENTIAL UNITS                   int64
COMMERCIAL UNITS                    int64
TOTAL UNITS                         int64
LAND SQUARE FEET                  float64
GROSS SQUARE FEET                 float64
YEAR BUILT                          int64
TAX CLASS AT TIME OF SALE           int64
BUILDING CLASS AT TIME OF SALE     object
SALE PRICE                        float64
SALE DATE                          object
dtype: object

In [0]:



transformed_newdata=newdata.drop(['NEIGHBORHOOD','BUILDING CLASS CATEGORY','TAX CLASS AT PRESENT','EASE-MENT','BUILDING CLASS AT PRESENT','ADDRESS','APARTMENT NUMBER','SALE DATE','BUILDING CLASS AT TIME OF SALE'],axis=1)
#X=X['SALE PRICE'].astype(int)
#X=X['LAND SQUARE FEET'].astype(int)
#X=X['GROSS SQUARE FEET'].astype(int)

In [0]:
scaler= StandardScaler()
scaler.fit(transformed_newdata)

transformed_data=scaler.transform(transformed_newdata)
transformed_data_df=pd.DataFrame(transformed_data, transformed_newdata)

In [85]:
transformed_newdata.head()

   Unnamed: 0  BOROUGH  ...  TAX CLASS AT TIME OF SALE  SALE PRICE
0           4        1  ...                          2   6625000.0
3           7        1  ...                          2   3936272.0
4           8        1  ...                          2   8000000.0
6          10        1  ...                          2   3192840.0
9          13        1  ...                          2  16232000.0

[5 rows x 13 columns]

In [0]:
# write list of features we want to use
X=['BOROUGH', 'BLOCK', 'LOT', 'ZIP CODE',
       'RESIDENTIAL UNITS', 'COMMERCIAL UNITS', 'TOTAL UNITS',
       'LAND SQUARE FEET', 'GROSS SQUARE FEET', 'YEAR BUILT',
      'TAX CLASS AT TIME OF SALE']
X=transformed_newdata[X]
y = transformed_newdata["SALE PRICE"]

In [87]:
X.columns

Index(['BOROUGH', 'BLOCK', 'LOT', 'ZIP CODE', 'RESIDENTIAL UNITS',
       'COMMERCIAL UNITS', 'TOTAL UNITS', 'LAND SQUARE FEET',
       'GROSS SQUARE FEET', 'YEAR BUILT', 'TAX CLASS AT TIME OF SALE'],
      dtype='object')

In [88]:
sns.heatmap(X.corr(),square=True,cmap='coolwarm')

In [0]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 100)

In [0]:
# initialize model
linear_reg = LinearRegression()

# fit model
linear_reg.fit(X_train, y_train)

# metrics (accuracy)
#acc = linear_reg.score(X_test, y_test)
#COeffecient
coefficient= linear_reg.coef_
#GET INTERCEPTS
intercepts=linear_reg.intercept_
# predictions
y_pred = linear_reg.predict(X_test)

In [91]:
# feature importance
coefficient

array([-3.48825237e+05, -4.45384273e+01, -1.72025785e+02, -5.91245807e+02,
       -4.97241407e+05, -2.85536852e+05,  2.95883276e+05, -1.61040315e+02,
        3.70963354e+02, -7.73410777e+03,  1.13785045e+06])

In [92]:
intercepts

22865234.766601972

In [93]:
rmse = np.sqrt(mse(y_test, y_pred))

print(rmse)

18865695.91479112

In [0]:
xg_reg = xgb.XGBRegressor(objective ='reg:linear', colsample_bytree = 0.3, learning_rate = 0.1, 
max_depth = 5, alpha = 10, n_estimators = 10)

In [95]:
rmse = np.sqrt(mse(y_test, y_pred))

print(rmse)

18865695.91479112